@charset "UFT-8";


/*ベース--------------------------------------------------------*/
html{
    font-size: 62.5%;/*rem指定にしたいため*/
}
body{
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    color: #171717;
    font-family: 'Noto Serif','Noto Serif JP', serif;
}
img{
    width: 100%;
    vertical-align: bottom;/*初期値がベースラインになっているため、下が2px程空いているためbottomを指定する*/

}
.section-wrapper{
    padding: 100px 0 70px;
}
.section-title{
    max-width: 1000px;
    color: #282F35;
    font-size: 6rem;/*10*6=60px*/
    font-style: italic;
    margin: 0 auto 80px;/*下だけ80px*/
    padding: 0 20px;
}
.section-title::after{/*疑似要素*/
     content:"";
     display: inline-block;
     background-color: #282F35;
     width: 200px;
     height: 5px;
     margin-left: 30px;
     vertical-align: middle;
}
.section-inner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}
.section-bottom{
    max-width: 1200px;
    margin: 0 auto;
    color:rgb(23, 23,23);
    opacity: .05;
    font-size: 9rem;
    
}
.section-bottom_right{
    text-align: right;
}
.section-bottom_gray{
    color: #FFFFFF;
}
.sp-br{/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    display: none;/*PCで改行を消しといて、spで表示させる*/
}
/*黄色いボタン*/
.link-btn{/*黄色いボタン*/
    display: block;
    width: 235px;
    line-height: 60px;/*縦中央寄せ*/
    margin: 0 auto 70px;
    background-color: #F7D43F;
    text-align: center;
    box-shadow: 0 0 6px #1B1310;
    border-radius: 30px;
    text-decoration: none;
    color: #171717;
    font-weight: bold;
    transition: .3s;
}
.link-btn:hover{
    opacity: .7;
    transition: .3s;
}
.text-right{
    text-align: right;
}
.text-white{
    color: #fff;
}
.section-title.text-white::after{
    background-color: #fff;
}
/*黄色いボタン ここまで*/


/*レイアウトーーーーーーーーーーーーーーーーーーーーーーーーー*/
.header{
    padding: 19px 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    transition: .3s;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
}
.header a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
}
.header a:hover{
    opacity: .7;
    transition: .3s;
}
.site-title{
    font-size: 2.6rem;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin-right: 30px;
}
.nav-item:last-of-type{
    margin-right: 0;
}
.burger-btn{
    display: none;
}

.header.fixed{/*jquery*/
    position: fixed;
    background-color: #282F35;
    width: 100%;
    transition: .3s;
    padding: 30px;
}

/*ファーストビュー */
.fv{
    height: 100vh;
    min-height: 550px;/*レスポンシブにしたときこれ以上小さくならない*/
    position: relative;/*copyのため*/
    background-image: url(../images/fv-bgi_01@2x.png);
    background-size: cover;
    background-position: center;
}
.fv img{
    height: 100vh;
    object-fit: cover;
    min-height: 550px;
}
.main-copy{
    position: absolute;
    font-weight: bold;
    color: #fff;
    left: 120px;
    bottom: 172px;
}
.en-copy{
    font-size: 7rem;
    margin-bottom: 23px;
}
.ja-copy{
    font-size: 4rem;
    text-align: center;
}
.slick-arrow{
    display: none !important;
}

/*concept*/
.concept-lead{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.05em;
}
.concept-content{
    display: flex;
    justify-content: space-between;
    align-items: center;/*横並びにした要素を縦軸の中央に配置*/
    margin-bottom: 70px;
    margin-top: 60px;
}
.concept-text{
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    line-height: 1.87;
    max-width: 440px;
   
}
.concept-img-wrapper{
    max-width: 440px;
    margin-left: 20px;
   
}


/*works*/
.bg-works{
    background-image: url(../images/works-bgi@2x.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 550px;
}
.works-list{
    display: flex;
    max-width: 1000px;
    margin: 0 auto 80px;
    padding: 0 50px;
    justify-content: space-between;
}
.works-item{
    width: 32%;
    background-color: #FFFFFF;
}
.works-item a{
    text-decoration: none;
    color: #141414;
    letter-spacing: 0.05em;
}
.works-list-text{
    padding: 25px 20px 25px 25px;
}

/*service*/
.service-list{
    display: flex;
    text-align: center;
    margin-bottom: 70px;
}
.service-item{
  width: 33.3%;

}
.service-item a{
    display: block;
    font-size: 4rem;
    text-decoration: none;
    color: #fff;
    font-style: italic;
    letter-spacing: 0.05em;
    font-weight: bold;
    line-height: 320px;
    transition: .3s;
}
.service-item a:hover{
    transition: .3s;
    background-color: rgb(40,47,53,.7);
}
.service-item.service1{
    background: url(../images/service-img01@2x.png)center/cover;
}
.service-item.service2{
    background: url(../images/service-img02@2x.png)center/cover;
    
}
.service-item.service3{
    background: url(../images/sevice-img03@2x.png)center/cover;
    
}


/*contact*/
.bg-contact{
    background: url(../images/contact-bgi@2x.png)center/cover;
}
.contact-text{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
}


/*footer*/
.footer{
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    line-height: 74px;
    font-weight: bold;
    color: #282F35;
}


/*レスポンシブーーーーーーーーーーーーーーーーーー*/
@media screen and (max-width:768px){
    /*ベースーーーーーーーーーーーーーーーー*/
    .section-wrapper{
        padding: 100px 0 40px;
        
    }
    .section-title{
        padding: 0 4vw;
        font-size: 3rem;
        margin-bottom: 50px;
        text-align: center;
    }
    .section-title::after{
        width: 90px;
    }
    .section-title::after{
        width: 90px;
    }
    .section-inner{
        padding: 0 4vw;
    }
    .section-bottom{
        font-size: 4rem;
        padding: 0 4vw;
    }
    .link-btn{
    margin-bottom: 40px;
    }
   
    /*header_sp*/
    .header{
        padding: 30px 4vw 0;
    }
    
    .header-nav{/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　jqueryで表示非表示にさせるぷろぱてぃ*/
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #282F35;
    }
    .nav-list{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        margin: 0 0 30px;
    }
    .nav-item:last-of-type{
        margin-bottom: 0;
    }
    
    /*ハンバーガーボタン*/
    .burger-btn{
        
        display: block;
        position: absolute;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　親要素にれらてぃぶを設定市に場合はtop等で右上に配置できる*/
        top: 30px;
        right: 4vw;
        background-color: transparent;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　背景がなぜか白く設定されているのでこのプロパティで透明に。*/
        border: none;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　borderで勝手に立体にされているのでこのプロパティで消す。*/
    }
    .bar{
        display: block;
        background-color: #fff;
        height: 3px;
        width:30px;
        transition: .3s;
    }
    .bar_top,
    .bar_mid{
        margin-bottom: 8px;
        
    }
    .burger-btn.cross .bar_top{
        transform: rotate(45deg) translate(8px,8px);
        transition: .3s;
    }
    .burger-btn.cross .bar_mid{
        opacity: 0;
        transition: .3s;
    }
    .burger-btn.cross .bar_bottom{
        transform: rotate(-45deg) translate(8px,-8px);
        transition: .3s;
    }
    body.noscroll{
        overflow:hidden;
    }
    /*buttonタグのリセット　/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/*/
    button{
        background-color: transparent;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }
    .sp-br{/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        display: block;
    }
    /*============================--=*/
    /*fv_sp*/
    /*===============================*/
    
    .main-copy{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　spでの中央寄せ*/
        color: #fff;
        letter-spacing: 0.05em;
        
    }
    
    .en-copy{
        font-size: 8.7vw;
        white-space: nowrap;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!　親要素にやってしまうと画面幅を貫く。だから必ず適用させたい要素に設定*/
    }
    .ja-copy{
        font-size: 8vw;
        
    }
     /*============================--=*/
    /*concept_sp*/
    /*===============================*/
    .section-wrapper{
        border: 1px #111111 solid;
    }
    .concept-lead{
        font-size: 2rem;
        margin-bottom: 32px;
    }
    .concept-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        
        margin: 60px auto 70px;
        width: 400px;
    }
    .sp-br-none{
        display: none;
    }
    .concept-content{
        display: block;
        width: 350px;
    }
    .concept-img-wrapper{
        margin:30px 0 auto;
        max-width: 350px;
    }
    .concept-text{
        margin-bottom: 30px;
        max-width: 350px;
    }
    img{
        margin: 0;
        height: 150px;
        object-fit: cover;
    }
     /*============================--=*/
    /*works_sp*/
    /*===============================*/
    .works-list{
        display: block;
        padding: 0 4vw;
        margin-bottom: 80px;  
    }
    .works-item{
        width: 320px;
        max-width: 100%;
        margin: 0 auto 30px;
    }
    .works-item:last-of-type{
        margin-bottom: 0;
        
    }
     /*============================--=*/
    /*works_sp*/
    /*===============================*/
    .service-list{
        display: block;
    }
    .service-item{
        width: 100%;
        margin-bottom: 30px;
    }
    .service-item:last-of-type{
        margin-bottom: 0;
    }
    .service-item a{
        font-size: 2rem;
        line-height: 250px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    }

}
